.header{
    display: flex;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    display: flex;    
}

.image-content{
    height:55vh !important; 
    overflow: hidden;
}

footer{
    font-size: 13px;
    background: #1b293a;
    padding: 12px 0;
    height: 36px;
    line-height: 26px;
    color: rgb(230, 220, 220);
    margin-top: 5px;
}

.slider-caption{
    position: absolute;
    font-size: 1.75rem;
    color: rgb(104, 100, 100);
    text-shadow: 1px 1px 1px rgba(0,0,0,.15);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    left: 25px;
    right: 0;
    z-index: 1039;
    top: 30%;
}

p{
    font-size: 14px;
    color:dimgrey;
}




