@media only screen and (max-width: 600px) {
    .content{
        -webkit-flex-direction: column; 
        flex-direction: column;
    }

    .container{
        -webkit-flex-direction: column; 
        flex-direction: column;
    }

    footer{        
        height: 75px !important;
    }

    .social-media{
        margin-top: 10px !important;
    }  

    .row{
        -webkit-flex-direction: column; 
        flex-direction: column; 
    }
    
    .column{
        flex: 100%;
    }
    .image-content {
        height: 32vh !important;
    }
    .slider-caption{
        top:25%;
    }
    
    .mar-top-13vh {
        margin-top: 13vh;
    }    
}
